<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>573449362684-87i3m0mprhtosejqcrcadoabvn499rpi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573449362684-87i3m0mprhtosejqcrcadoabvn499rpi</string>
	<key>API_KEY</key>
	<string>AIzaSyAjmrH02Hu0ypr-6nyXTIdXOyuLzE0kiAU</string>
	<key>GCM_SENDER_ID</key>
	<string>573449362684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Jay.customLogin</string>
	<key>PROJECT_ID</key>
	<string>login-5e2e0</string>
	<key>STORAGE_BUCKET</key>
	<string>login-5e2e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573449362684:ios:b3c9e63251d762e0fd0b79</string>
</dict>
</plist>